Source: aurex-virtualbox
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-virtualbox-common
Architecture: all
Depends: ${misc:Depends}, axel
Description: generic virtualbox metapackage for aurex
 This package installs common stuff for aurex-virtualbox
 metapackages.

Package: aurex-virtualbox-4.3
Architecture: all
Depends: ${misc:Depends}, virtualbox-4.3 (=${VBVersion}), aurex-virtualbox-common
Description: generic virtualbox-4.3 metapackage for aurex
 This package will always depend on the latest virtualbox-4.3 and
 extension pack available to keep both programs in sync.

Package: aurex-virtualbox-4.2
Architecture: all
Depends: ${misc:Depends}, virtualbox-4.2 (=4.2.20-90983~Ubuntu~precise), aurex-virtualbox-common
Description: generic virtualbox-4.2 metapackage for aurex
 This package will always depend on the latest virtualbox-4.2 and
 extension pack available to keep both programs in sync.

Package: aurex-virtualbox-4.1
Architecture: all
Depends: ${misc:Depends}, virtualbox-4.1 (=4.1.26-84997~Ubuntu~precise), aurex-virtualbox-common
Description: generic virtualbox-4.1 metapackage for aurex
 This package will always depend on the latest virtualbox-4.1 and
 extension pack available to keep both programs in sync.
