#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_gencontrol:
#	remove aurex revision (+aurexN...) from current version
	sed -ne "1{s%^.*(%VBVersion=%;s%).*$$%%;s%.aurex.*$$%%;p}" debian/changelog >> debian/aurex-virtualbox-5.1.substvars
	dh_gencontrol
